/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Lato;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.content-container{
  width: 1000px;
  border: solid 1px white;
}
/********* INTESTAZIONE ******/
header {
  /* min-height: 500px; */
  /* debug */
  background-color: red;
  display: flex;
  justify-content: center;
}

/* NAV BAR */
#navbar-header{
  min-height: 60px;
  width: 1270px;
}

#nav-menu, #opzioni{
  min-height: 60px;
  width: 40%;
  float: left;
  display: flex;
  align-items:center;
  /* debug */
  border: solid 1px black;
}

#nav-menu li{
  display: inline-block;
  padding-right: 20px;
}

#logo{
  min-height: 60px;
  width: 20%;
  float: left;
  display: flex;
  align-items:center;
  /* debug */
  border: solid 1px black;
}

#logo{
  justify-content: center;
}

#logo img{
  height: 20px;
}

#opzioni{
  justify-content:flex-end;
}

#opzioni a{
  padding-right: 20px;
}

#opzioni #search{
  padding: 5px;
  background-color: #e2e2e0;
  border-radius: 3px;
}

#search input{
  background-color: #e2e2e0;
  border: none;
  outline: none;
}

/* JUMBOTRON */
#jumbotron{
  min-height: calc(500px - 60px);
}

/******* PARTE CENTRALE *******/
.container{
  min-height: 500px;
  /* debug */
  border: 1px solid black;
}

#subscribe-form{
  min-height: 350px;
  /* debug */
  border: 1px solid black;
}


/******* FOOTER *******/
footer{
  display: flex;
  justify-content: center;
  min-height: 350px;
  width: 100%;
  color: lightgray;
  /* debug */
  background-color: #171520;
}

footer a{
  color: lightgray;
}

footer h4{
  color: white;
}

#contact li{
  padding-top: 10px;
}

#contact, #navbar-footer{
  width: 50%;
  min-height: 250px;
  float: left;
  font-size: 13px;
  padding-top:50px;
  /* debug */
  border: solid 1px white;
}

#social li{
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
}

#navbar-footer{
  display: flex;
}

#navbar-footer .column{
  padding-right: 40px;
}

.column ul{
  padding-top: 10px;
}

.second ul{
  padding-top: 26px;
}

.column li{
  padding-top: 10px;
}

#copyright {
  min-height: calc(350px - 250px);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
