<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Distance Learning</title>
    <script src="https://use.fontawesome.com/617605346e.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <!-- ********************INTESTAZIONE************* -->
    <header>

      <!-- NAV BAR -->
      <nav id="navbar-header">

        <nav id="nav-menu">
          <ul>

            <li class="lidrop" v-for="(item, index) in menu" @click="showDrop(index)" >
              <a :href="item.link">{{item.text}}</a>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>

              <!-- dropdown -->
              <nav class="dropdown" :class="{active: index===indexMenu}" @mouseleave="hideDrop">
                <ul>
                  <li v-for="drop in item.dropdown">
                    <a :href="drop.droplink">{{drop.droptext}}</a>
                  </li>
                </ul>
              </nav> <!--fine dropdown-->
            </li><!--fine lidrop-->

          </ul>
        </nav><!--fine nav-menu-->

        <div id="logo">
          <img :src="logo" alt="">
        </div>

        <div id="opzioni">
          <a id="cart" :href="cart" datacount="0"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          <a id="user" :href="login"><i class="fa fa-user-circle" aria-hidden="true" ></i></a>
          <div id="search">
            <input  type="search" v-model="search" placeholder="Search...">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
        </div>

      </nav><!-- FINE NAV BAR -->

      <!-- JUMBOTRON -->
      <section id="jumbotron">
        <!-- icone laterali -->
        <div id="icone-jumbo">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
          <i class="fa fa-life-ring" aria-hidden="true"></i>
          <i class="fa fa-book" aria-hidden="true"></i>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <!-- testo centrale -->
        <div id="centro-jumbo">
          <h2>Commence Business</h2>
          <h1>Distant Mentoring Program</h1>
          <button type="button" name="button">Download free guidebook <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
        </div>
      </section> <!--FINE JUMBOTRON-->

    </header> <!--*********FINE INTESTAZIONE********-->

    <!--******************** PARTE CENTRALE ************* -->
    <main>
      <!-- PRIMA SEZIONE work colture -->
      <section id="work-colture" class="container">
        <div class="content-container">

          <div id="wc-left">
            <div class="text-sections">
              <h4>EVERYTHING IN <strong>MAXCOACH</strong></h4>
              <h2>Learn about our <span class="lighter">Work Coulture</span> at MaxCoach </h2>
              <p>Spend some time visit our website or head office and discover our current courses, enrollmente procedure, and registration deadline. We're opening new classes every biginning of each month.</p>
              <span>Have questions?</span>
              <a href="#">Get Free Guide<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div><!--fine wc-left-->

          <div id="wc-right">
            <img id="greendots"src="img/greendots-x100.png" alt="greendots100">
            <img id="coach" src="img/coach.jpg" alt="coach">
            <img id="about" src="img/about.jpg" alt="about">
            <img id="shape02" src="img/shape02.png" alt="shape02">
          </div><!--fine wc-right-->

          <div id="wc-down">
            <div class="rates">
              <h3>129+</h3>
              <span>ENROLLED LEARNERS</span>
            </div>
            <div class="rates">
              <h3>80</h3>
              <span>FINISHED SESSIONS</span>
            </div>
            <div class="rates">
              <h3>4%</h3>
              <span>SATISFACTION RATE</span>
            </div>
          </div><!--fine wc-down-->

        </div> <!--fine content-container-->
      </section><!--fine prima sezione-->

      <!-- SECONDA SEZIONE upgrade your life -->
      <section id="upgrade" class="container">
        <div class="content-container">
          <div id="upgrade-left">
            <img id="video" src="img/upgrade-video.jpg" alt="">
            <img id="youtube" src="img/icon-youtube-play.png" alt="">
            <img id="up-shape07" src="img/shape07.png" alt="">
            <img id="up-shape05" src="img/shape05.png" alt="">
          </div>
          <div id="upgrade-right">
            <div class="text-sections">
              <h4>HOW WE WORK</h4>
              <h2>Upgrade Your Skills <span class="lighter">Upgrade Your Life</span> Us?</h2>
              <p>Opening up more opportunities in front of you to get the ticket to more enjoyable door in life. Getting equipped with new skills for new sets of insights into your career. MaxCoach accompany learners in every single stage of learning.</p>
              <a href="#"><strong>Download free guidebook</strong><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>

        </div><!--fine content-container-->
      </section ><!--fine seconda sezione-->

      <!-- TERZA SEZIONE courses con corousel-->
      <section id="courses" class="container">
        <div id="curva" class="content-container">

          <div class="text-sections titolo">
            <h4>JOIN MAXCOACH AT BEST</h4>
            <h2>Latest Online <span class="lighter">Courses</span> </h2>
          </div>
          <div id="carousel">

            <!-- inserimento Vue -->
            <!-- <div class="card" v-for="item in cards">
              <img :src="item.img" alt="">
              <div class="description">
                <h3>{{item.price}}</h3>
                <h5>{{item.title}}</h5>
                <span><i class="fa fa-file-text-o" aria-hidden="true"></i>{{item.lessons}}</span>
                <span><i class="fa fa-user-o" aria-hidden="true"></i>item.students</span>
              </div>
            </div> -->

            <div class="card">
              <img src="img/course02.jpg" alt="">
              <div class="description">
                <h3>$40.00</h3>
                <h5>Learning to Write as a Professional Author</h5>
                <span><i class="fa fa-file-text-o" aria-hidden="true"></i>20 Lessons</span>
                <span><i class="fa fa-user-o" aria-hidden="true"></i>50 Students</span>
              </div>
            </div>
            <div class="card">
              <img src="img/course01.jpg" alt="">
              <div class="description">
                <h3>$0.00</h3>
                <h5>Customer-centric Info-Tech Strategies</h5>
                <span><i class="fa fa-file-text-o" aria-hidden="true"></i>24 Lessons</span>
                <span><i class="fa fa-user-o" aria-hidden="true"></i>769 Students</span>
              </div>
            </div>
            <div class="card">
              <img src="img/course03.jpg" alt="">
              <div class="description">
                <h3>$19.00</h3>
                <h5>Open Programming Courses for Everyone: Python</h5>
                <span><i class="fa fa-file-text-o" aria-hidden="true"></i>17 Lessons</span>
                <span><i class="fa fa-user-o" aria-hidden="true"></i>62 Students</span>
              </div>
            </div>

          </div> <!--fine carousel-->

          <div id="circle">
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
          </div>

          <div class="moreinfo">
            <p>Control your personal preference settings to get notified about appropriate courses.</p>
            <span><a href="#"><strong>View all courses </strong><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></span>
          </div>

        </div><!--fine content-container-->
      </section ><!--fine terza sezione-->

      <!-- QUARTA SEZIONE testimonials -->
      <section id="testimonials" class="container">
        <div class="content-container">

          <div id="ts-left">
            <div class="text-sections">
              <h4>TESTIMONIALS</h4>
              <h2>Why Do People <span class="lighter">*Hearts*</span> Us?</h2>
              <p>Seeking for verbals of our service quality? Find them here. Everything is transparent and straightforward for your sense of jusitification</p>
              <a href="#"><strong>View All</strong><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>

          <div id="ts-right">
            <img src="img/testimonials.png" alt="">
          </div>

        </div><!--fine content-container-->
      </section ><!--fine quarta sezione-->

      <!-- QUINTA SEZIONE team -->
      <section id="team " class="container">
        <div  class="content-container">

          <div id="team-left">
            <img id="phototeam" src="img/team.png" alt="">
            <img id="shape07" src="img/shape07.png" alt="">
            <img id="shape05" src="img/shape05.png" alt="">
            <img id="shape01" src="img/shape01.png" alt="">
          </div>

          <div id="team-right">
            <div class="text-sections">
              <h4>EVERYTHING IN <strong>MAXCOACH</strong></h4>
              <h2>We're Here To <span class="lighter">Transform</span> You!</h2>
              <p>As learners, people can enjoy great companionship from MaxCoach mentors and educators. We can help you develop and grow at your best.</p>
              <button type="button" name="button">Get Free Guide</button>
            </div>
          </div>

        </div><!--fine content-container-->
      </section><!--fine quinta sezione-->

      <!-- SESTA SEZIONE post blog -->
      <section id="blog" class="container">
        <div class="content-container">
          <div class="text-sections titolo">
            <h4>READ FOR MORE JOYMENT</h4>
            <h2>Latest From <span class="lighter">Our Blogs</span> </h2>
          </div>

          <div id="post-blog">
            <div class="card">
              <img src="img/artist03.jpeg" alt="">
              <div class="description">
                <h3>ARTIST</h3>
                <h5>Brush Strokes Energize Trees in Paintings</h5>
                <span><i class="fa fa-calendar-o" aria-hidden="true"></i></i>May 15,2020</span>
                <span><i class="fa fa-eye" aria-hidden="true"></i></i>688 views</span>
              </div>
            </div>
            <div class="card">
              <img src="img/artist01.jpg" alt="">
              <div class="description">
                <h3>ARTIST</h3>
                <h5>Pocket-Sized Notebooks Hold Miniature Paintings</h5>
                <span><i class="fa fa-calendar-o" aria-hidden="true"></i></i>May 15,2020</span>
                <span><i class="fa fa-eye" aria-hidden="true"></i></i>603 views</span>
              </div>
            </div>
            <div class="card">
              <img src="img/artist02.jpg" alt="">
              <div class="description">
                <h3>ARTIST</h3>
                <h5>Connections Between Self-Portraits and Identity</h5>
                <span><i class="fa fa-calendar-o" aria-hidden="true"></i></i>May 15,2020</span>
                <span><i class="fa fa-eye" aria-hidden="true"></i></i>397 views</span>
              </div>
            </div>
          </div>

        </div><!--fine content-container-->
      </section><!--fine sesta sezione-->

      <!-- SETTIMA SEZIONE FORM -->
      <section id="subscribe" class="container">
        <div class="content-container">
          <div class="text-sections titolo">
            <h2>Subscribe <span class="lighter">Newsletter</span> </h2>
            <p>Enter your email address to register to our newsletter subscription delivered on a regular basis!</p>
          </div>

          <div id="div-form">
            <form>
              <input type="text" name="" value="" placeholder="Enter your email">
              <button type="button" name="button">Subscribe</button>
            </form>
          </div>
          <img id="shape02-sub" src="img/shape02.png" alt="shape02">

        </div><!--fine content-container-->
      </section><!--fine settima sezione-->

    </main> <!--FINE PARTE CENTRALE-->

    <!-- ******************* FOOTER ************** -->
    <footer id="footer">
      <div class="content-container">

        <!-- INDIRIZZO E SOCIAL -->
        <div id="contact">
          <h4>Address</h4>
          <ul>
            <li v-for="(value,name) in contact">{{value}}</li>
          </ul>
          <ul id="social">
            <li v-for="item in social"><a :href="item.link"><i :class="item.icon" aria-hidden="true"></i></a></li>
          </ul>
        </div>

        <!-- NAV BAR FOOTER -->
        <nav id="navbar-footer">
          <div class="column">
            <h4>Explore</h4>
            <ul>
              <li v-for="item in firstcolumn"><a :href="item.link">{{item.text}}</a></li>
            </ul>
          </div>
          <div class="column second">
            <h4></h4>
            <ul>
              <li v-for="item in secondcolumn"><a :href="item.link">{{item.text}}</a></li>
            </ul>
          </div>
          <div class="column">
            <h4>Information</h4>
            <ul>
              <li v-for="item in thirdcolumn"><a :href="item.link">{{item.text}}</a></li>
            </ul>
          </div>
        </nav>


        <div id="copyright">
          <span><i class="fa fa-copyright" aria-hidden="true"></i>2020 MaxCoach. All Rights Reserved.</span>
        </div>

      </div> <!--fine content container-->
    </footer>



    <script type="text/javascript" src="js/myscript.js">
    </script>
  </body>
</html>
